<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Valtech_ | UI Exercise</title>
    <meta name="description" content="Page Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="test.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="navigation">
                <ul class="items">
                    <li class="item">
                        <a href="/">Home</a>
                    </li>
                    <li class="item">
                        <a href="/about">About</a>
                    </li>
                    <li class="item">
                        <a href="/blog">Blog</a>
                    </li>
                    <li class="item toggle">
                        <a href="#">Sidebar</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content container">
        {% block content %} {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <p>Footer placeholder</p>
        </div>
    </footer>
    <script src="assets/js/test.js"></script>
</body>

</html>
