<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Page Title</title>
    <meta name="description" content="Page Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
    </header>
    <main>
        <!-- Add this syntax to the page where you're extending this template -->
        {% block content %} {% endblock %}
    </main>
    <footer>
    </footer>
    <script src="assets/js/bundle.js"></script>
</body>

</html>
