@function calculate-rem($size) {
  $rem-size: $size / 16px;
  @return $rem-size * 1rem;
}

@mixin font-size($size: 14, $line: $size * 1.65) {
  font-size: $size;
  line-height: $line;
  font-size: calculate-rem($size);
  line-height: calculate-rem($line);
}

@mixin font-size-heading($size: 14, $line: $size * 1.15) {
  font-size: $size;
  line-height: $line;
  font-size: calculate-rem($size);
  line-height: calculate-rem($line);
}

// Fonts
@mixin arial($weight: normal, $style: normal) {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: $weight;
  font-style: $style;
}

@mixin helvetica($weight: normal, $style: normal) {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: $weight;
  font-style: $style;
}

@mixin montserrat($weight: 400, $style: normal) {
  font-family: 'Montserrat', sans-serif;
  font-weight: $weight;
  font-style: $style;
}

// Font smoothing
@mixin font-smoothing($value: antialiased) {
  @if $value==antialiased {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  } @else {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

// Mobile first Breakpoints
@mixin bp-xl {
  @media only screen and (min-width: 1400px) {
    @content;
  }
}

@mixin bp-lg {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin bp-md {
  @media only screen and (min-width: 991px) {
    @content;
  }
}

@mixin bp-sm {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin bp-xs {
  @media only screen and (min-width: 480px) {
    @content;
  }
}

// Non mobile first Breakpoints
// @mixin bp-lg {
//   @media only screen and (max-width: 1200px) {
//       @content;
//   }
// }

// @mixin bp-md {
//   @media only screen and (max-width: 992px) {
//       @content;
//   }
// }

// @mixin bp-sm {
//   @media only screen and (max-width: 767px) {
//       @content;
//   }
// }

// @mixin bp-xs {
//   @media only screen and (max-width: 479px) {
//       @content;
//   }
// }

// @mixin bp-xxs {
//   @media only screen and (max-width: 320px) {
//       @content;
//   }
// }

// Misc Breakpoints
@mixin bp-height-xs {
  @media only screen and (max-height: 400px) {
    @content;
  }
}

@mixin bp-height-sm {
  @media only screen and (max-height: 550px) {
    @content;
  }
}

@mixin bp-height-md {
  @media only screen and (max-height: 768px) {
    @content;
  }
}

@mixin bp-height-lg {
  @media only screen and (max-height: 992px) {
    @content;
  }
}

@mixin bp-height-xl {
  @media only screen and (max-height: 1200px) {
    @content;
  }
}

@mixin bp-height-hd {
  @media only screen and (max-height: 1441px) {
    @content;
  }
}

@mixin bp-horizontal {
  @media only screen and (max-height: 550px) and (max-width: 767px) {
    @content;
  }
}

// Clearfix
@mixin clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

// Visually hide an element
@mixin visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

// Full width
@mixin full-width {
  display: flex;
  width: 100%;
  position: relative;
}

// Remove tap highlight on touch devices
@mixin remove-highlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-tap-highlight-color: transparent !important;
  outline: none;
}

@mixin hover-brightness {
  will-change: filter;
  transition: filter 0.25s ease;
  &:hover,
  &:active {
    filter: brightness(1.05);
  }
}
