{% extends "layout.html" %}

{% set page = default %}
{% block content %}
    <main class="main">
        <ul class="grid">
            <li class="item">
                <a href="#">
                    <img src="http://via.placeholder.com/367x220" alt="Valtech_">
                    <h3>Visco</h3>
                    <p>E-commerce with a colourful story</p>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <img src="http://via.placeholder.com/367x220" alt="Valtech_">
                    <h3>Copenhagen Airport</h3>
                    <p>Knowing your Customers in a Digital Age</p>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <img src="http://via.placeholder.com/367x220" alt="Valtech_">
                    <h3>TV4 Play</h3>
                    <p>From TV channel to leading content provider</p>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <img src="http://via.placeholder.com/367x220" alt="Valtech_">
                    <h3>Audi City</h3>
                    <p>How to purchase a real car in a virtual store</p>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <img src="http://via.placeholder.com/367x220" alt="Valtech_">
                    <h3>Arla Foods</h3>
                    <p>Dairy production in Big Data</p>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <img src="http://via.placeholder.com/367x220" alt="Valtech_">
                    <h3>Xylem</h3>
                    <p>Helping the worlds largest water technology provider sovle the global water crisis through business Transformation.</p>
                </a>
            </li>
        </ul>
    </main>

    <aside class="sidebar">

    </aside>
{% endblock %}
